aws_region       = "us-east-1"
instance_type    = "t2.micro"
user_data_file = "${path.root}/../user_data/cloud-init.sh"
ssh_key_name     = "your-keypair-name" #create a keypair in EC2 > Key Pairs, Download .pem, and bring the name of keypair here. 
allowed_ssh_cidr = "YOUR_PUBLIC_IP/32" #your computer's public IP so only you can access EC2 via SSH
